parameters:
    ignoreErrors:
        -
            message: '/Undefined variable: \$mollie/'
            paths:
                - %currentWorkingDirectory%/examples
        -
            message: '/Function database_(write|read) not found/'
            paths:
                - %currentWorkingDirectory%/examples
        -
            message: '/Function printOrders not found/'
            paths:
                - %currentWorkingDirectory%/examples

        -
            message: "#^Call to an undefined method Mollie\\\\Api\\\\Endpoints\\\\EndpointAbstract\\:\\:getResourceCollectionObject\\(\\)\\.$#"
            count: 1
            path: src/Endpoints/EndpointAbstract.php
