parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/captures/get-capture.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/captures/list-captures.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/customers/create-customer-first-payment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/customers/create-customer-payment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/customers/create-customer-recurring-payment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/customers/create-customer.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/customers/delete-customer.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/customers/list-customer-payments.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/customers/update-customer.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/invoices/list-invoices.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/mandates/create-mandate.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/mandates/list-mandates.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/mandates/revoke-mandate.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 2
			path: examples/orders/cancel-order-lines.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/cancel-order.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/create-order.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/list-methods.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/list-orders.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/refund-order-completely.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/refund-order-partially.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/update-order-line.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/update-order.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/orders/webhook.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/payment-links/create-payment-link.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/payment-links/list-payment-links.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 2
			path: examples/payments/create-ideal-payment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 2
			path: examples/payments/create-payment-oauth.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/payments/create-payment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/payments/list-methods.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/payments/list-payments.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/payments/refund-payment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/payments/update-payment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/payments/webhook.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/profiles/create-profile.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/profiles/delete-profile.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/profiles/list-profiles.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/profiles/update-profile.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/settlements/list-settlements.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/shipments/create-shipment-all.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/shipments/create-shipment-partial.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/shipments/get-shipment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/shipments/list-shipments.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/shipments/update-shipment.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/subscriptions/cancel-subscription.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/subscriptions/create-subscription.php

		-
			message: "#^Variable \\$mollie might not be defined\\.$#"
			count: 1
			path: examples/subscriptions/update-subscription.php

		-
			message: "#^Call to an undefined method Mollie\\\\Api\\\\Endpoints\\\\EndpointAbstract\\:\\:getResourceCollectionObject\\(\\)\\.$#"
			count: 1
			path: src/Endpoints/EndpointAbstract.php

		-
			message: "#^Access to undefined constant GuzzleHttp\\\\ClientInterface\\:\\:VERSION\\.$#"
			count: 1
			path: src/HttpAdapter/Guzzle6And7MollieHttpAdapter.php

		-
			message: "#^Access to undefined constant GuzzleHttp\\\\ClientInterface\\:\\:VERSION\\.$#"
			count: 1
			path: src/HttpAdapter/MollieHttpAdapterPicker.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$email\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/CustomerEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$name\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/CustomerEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$_links\\.$#"
			count: 8
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$description\\.$#"
			count: 4
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$id\\.$#"
			count: 4
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$image\\.$#"
			count: 7
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$maximumAmount\\.$#"
			count: 4
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$minimumAmount\\.$#"
			count: 4
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$pricing\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$resource\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Call to an undefined method Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:issuers\\(\\)\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Call to an undefined method Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:pricing\\(\\)\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/MethodEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$_links\\.$#"
			count: 3
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$description\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$details\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$metadata\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$profileId\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$redirectUrl\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$resource\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$sequenceType\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$webhookUrl\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$_links\\.$#"
			count: 3
			path: tests/Mollie/API/Endpoints/PaymentRefundEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$amount\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRefundEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$createdAt\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRefundEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$description\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRefundEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRefundEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$paymentId\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRefundEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$settlementAmount\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRefundEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$status\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRefundEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRouteEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$releaseDate\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/PaymentRouteEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$email\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/ProfileEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$name\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/ProfileEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$phone\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/ProfileEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$amount\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/SubscriptionEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$startDate\\.$#"
			count: 1
			path: tests/Mollie/API/Endpoints/SubscriptionEndpointTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$amount\\.$#"
			count: 1
			path: tests/Mollie/API/Resources/ResourceFactoryTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$createdAt\\.$#"
			count: 1
			path: tests/Mollie/API/Resources/ResourceFactoryTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Mollie/API/Resources/ResourceFactoryTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$mode\\.$#"
			count: 1
			path: tests/Mollie/API/Resources/ResourceFactoryTest.php

		-
			message: "#^Access to an undefined property Mollie\\\\Api\\\\Resources\\\\BaseResource\\:\\:\\$resource\\.$#"
			count: 1
			path: tests/Mollie/API/Resources/ResourceFactoryTest.php
