parameters:
    level: 5
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    excludePaths:
        - %currentWorkingDirectory%/vendor
    treatPhpDocTypesAsCertain: false
includes:
    - phpstan-baseline.neon
