parameters:
    level: 5
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/examples
    excludePaths:
        - %currentWorkingDirectory%/vendor
    treatPhpDocTypesAsCertain: false
includes:
    - phpstan-baseline.neon
